In [254]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [255]:
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.utils import np_utils

In [256]:
credit_default=pd.read_csv("cleaned_cerditcard.csv")

In [257]:
credit_default.head()

,Unnamed: 0,limit_bal,age,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,...,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,grad_school,university,high_school,male,married
0,0,20000,24,2,2,0,0,0,0,3913,...,0,0,0,0,1,0,1,0,0,1
1,1,120000,26,0,2,0,0,0,2,2682,...,1000,1000,0,2000,1,0,1,0,0,0
2,2,90000,34,0,0,0,0,0,0,29239,...,1000,1000,1000,5000,0,0,1,0,0,0
3,3,50000,37,0,0,0,0,0,0,46990,...,1200,1100,1069,1000,0,0,1,0,0,1
4,4,50000,57,0,0,0,0,0,0,8617,...,10000,9000,689,679,0,0,1,0,1,1

In [258]:
credit_default = credit_default.drop(credit_default.columns[[0]], axis=1)

In [259]:
credit_default.head()

,limit_bal,age,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,...,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,grad_school,university,high_school,male,married
0,20000,24,2,2,0,0,0,0,3913,3102,...,0,0,0,0,1,0,1,0,0,1
1,120000,26,0,2,0,0,0,2,2682,1725,...,1000,1000,0,2000,1,0,1,0,0,0
2,90000,34,0,0,0,0,0,0,29239,14027,...,1000,1000,1000,5000,0,0,1,0,0,0
3,50000,37,0,0,0,0,0,0,46990,48233,...,1200,1100,1069,1000,0,0,1,0,0,1
4,50000,57,0,0,0,0,0,0,8617,5670,...,10000,9000,689,679,0,0,1,0,1,1

In [260]:
credit_default.columns

Index(['limit_bal', 'age', 'pay_1', 'pay_2', 'pay_3', 'pay_4', 'pay_5',
       'pay_6', 'bill_amt1', 'bill_amt2', 'bill_amt3', 'bill_amt4',
       'bill_amt5', 'bill_amt6', 'pay_amt1', 'pay_amt2', 'pay_amt3',
       'pay_amt4', 'pay_amt5', 'pay_amt6', 'default', 'grad_school',
       'university', 'high_school', 'male', 'married'],
      dtype='object')

In [261]:
credit_default.shape

(30000, 26)

In [262]:
X= credit_default.drop('default', axis=1)

In [263]:
X.head()

,limit_bal,age,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,grad_school,university,high_school,male,married
0,20000,24,2,2,0,0,0,0,3913,3102,...,689,0,0,0,0,0,1,0,0,1
1,120000,26,0,2,0,0,0,2,2682,1725,...,1000,1000,1000,0,2000,0,1,0,0,0
2,90000,34,0,0,0,0,0,0,29239,14027,...,1500,1000,1000,1000,5000,0,1,0,0,0
3,50000,37,0,0,0,0,0,0,46990,48233,...,2019,1200,1100,1069,1000,0,1,0,0,1
4,50000,57,0,0,0,0,0,0,8617,5670,...,36681,10000,9000,689,679,0,1,0,1,1

In [264]:
traget_name = 'default'

In [265]:
y= credit_default[traget_name]

In [266]:
y

0        1
1        1
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       1
22       1
23       1
24       0
25       0
26       1
27       0
28       0
29       0
        ..
29970    0
29971    0
29972    0
29973    1
29974    1
29975    0
29976    1
29977    0
29978    0
29979    0
29980    0
29981    0
29982    1
29983    0
29984    0
29985    0
29986    0
29987    0
29988    0
29989    0
29990    0
29991    1
29992    0
29993    0
29994    1
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default, Length: 30000, dtype: int64

In [267]:
train_data_x, test_data_x, train_data_y, test_data_y =\
train_test_split(X,y, train_size=0.5, test_size=0.5, random_state=0)

In [268]:
train_data_x

,limit_bal,age,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,grad_school,university,high_school,male,married
4943,70000,25,0,0,0,0,0,0,22935,23963,...,1414,1100,1104,1000,1155,0,1,0,0,0
29677,20000,34,0,0,0,0,0,0,16912,-2,...,0,0,310,9500,800,0,1,0,1,0
10145,400000,31,1,0,0,0,0,0,-166,-490,...,30001,2128,3009,8006,1028,1,0,0,1,0
3714,30000,41,0,0,0,0,0,0,29866,30900,...,0,0,0,0,0,0,1,0,1,1
5862,180000,26,0,0,0,0,0,0,10874,9324,...,2000,2000,3109,5000,5520,0,1,0,0,0
19806,200000,42,0,0,0,0,0,0,25897,33587,...,15000,20000,20000,15000,20000,0,1,0,0,1
19907,80000,44,0,0,0,0,0,0,3995,2045,...,824,0,1000,0,0,0,1,0,0,1
13637,90000,26,0,0,2,0,0,0,87561,92996,...,0,1527,1617,1490,659,0,1,0,0,0
4996,180000,34,0,0,0,0,0,0,6892,6892,...,6892,6282,2000,0,0,0,0,0,0,1
10713,70000,23,0,0,0,2,0,0,18285,16903,...,2332,0,365,364,527,0,1,0,0,0
338,50000,31,0,0,0,0,0,0,46512,47716,...,4406,1061,1073,1046,1047,0,1,0,0,1
22573,330000,43,0,0,0,0,0,0,15018,17365,...,2500,3000,3000,170,2000,0,1,0,0,1
26199,210000,39,0,0,0,0,0,0,193976,196361,...,7400,7300,7700,8600,5816,0,1,0,0,0
26930,20000,45,0,0,0,0,0,0,5250,7151,...,2000,2000,2000,2000,2000,0,0,1,1,0
29702,250000,31,0,0,0,0,0,0,377399,78416,...,3194,1104,10015,5005,2033,1,0,0,1,0
16123,160000,41,0,0,0,0,0,0,71900,0,...,0,0,0,0,0,0,1,0,0,0
22562,160000,30,0,0,0,0,0,0,13680,6729,...,120377,3612,3100,3200,2558,0,1,0,0,0
10764,50000,24,0,0,2,0,0,0,52227,55264,...,0,1085,2000,1226,2415,1,0,0,0,0
26755,380000,28,0,0,0,0,0,0,1294,1058,...,359,359,359,509,359,1,0,0,1,0
22493,110000,40,0,0,0,0,0,0,105055,105886,...,4913,3000,3000,3000,3100,0,0,1,0,1
14159,220000,36,0,0,0,0,0,0,5385,5337,...,5511,5368,5646,5262,3894,1,0,0,0,0
1692,150000,27,0,0,0,0,0,0,0,610,...,610,0,610,0,0,1,0,0,0,0
23873,80000,27,0,0,0,0,0,0,74413,76817,...,3000,1400,326,1755,0,1,0,0,1,0
9685,20000,39,0,0,0,0,0,0,6530,8389,...,5000,3450,13030,9507,19794,0,0,1,1,0
6132,360000,57,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
25564,450000,39,0,0,0,0,0,0,3664,4587,...,4562,5001,39292,0,62597,1,0,0,0,1
20575,390000,29,0,0,0,0,0,0,65354,70758,...,14000,10000,12000,30000,13000,0,1,0,1,0
11493,50000,22,0,0,0,0,0,2,39843,40662,...,2000,2020,3800,0,2000,0,1,0,0,1
25227,90000,24,0,0,0,0,0,0,53173,19825,...,1339,1638,890,763,769,1,0,0,0,0
18038,400000,39,2,2,2,2,2,2,49354,50747,...,0,4500,0,4800,1600,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,20000,30,0,0,2,0,0,0,14406,20653,...,84,7171,1000,1000,2000,1,0,0,1,0
6036,80000,39,0,0,0,0,0,0,5280,5000,...,5000,0,5000,5000,470,0,0,1,0,1
6921,280000,29,0,0,0,0,0,0,2187,1461,...,53871,981,20929,1164,0,1,0,0,0,0
6216,50000,43,0,0,2,0,0,0,7978,11396,...,0,453,312,1500,500,0,0,1,1,1
27469,100000,51,2,2,0,0,0,0,104264,101658,...,4134,3952,3611,3298,3401,0,0,0,1,0
16921,200000,55,0,0,0,0,0,0,169287,172655,...,8982,6758,6257,6633,6115,0,1,0,1,1
26277,490000,38,0,0,0,0,0,0,0,0,...,0,0,163,1256,1000,0,1,0,0,1
2897,320000,36,0,0,0,0,0,0,146201,129311,...,3137,52,2384,25094,30011,1,0,0,1,0
24152,230000,27,0,0,0,0,0,0,24874,19500,...,2000,3540,5000,3113,90417,1,0,0,1,0
18606,50000,24,0,0,2,0,0,0,14345,16927,...,0,1289,785,657,720,1,0,0,0,1
10327,120000,34,0,0,0,0,0,0,67253,31954,...,1991,3730,9076,4134,497,1,0,0,0,0
18983,120000,33,0,0,0,0,0,0,90575,88443,...,3214,4001,3254,3325,3500,0,1,0,0,1
17089,80000,25,1,2,0,0,0,0,78894,79989,...,3500,5000,2500,2500,2000,0,1,0,0,0
14650,210000,31,2,0,0,0,0,0,1172,380,...,1552,0,776,1359,20302,1,0,0,1,0
19852,130000,49,0,0,0,0,0,0,53714,55404,...,2650,2100,2100,2150,3000,0,1,0,0,1
6744,10000,23,0,0,2,0,0,2,7886,9085,...,1000,1000,600,200,500,0,1,0,1,0
15832,50000,27,0,0,0,0,0,0,33944,29194,...,2000,2000,1000,1000,1000,0,1,0,0,0
15430,50000,24,0,0,0,0,0,0,47734,47025,...,1840,1751,1717,1773,1845,1,0,0,1,1
14935,160000,41,0,0,0,0,0,0,97266,99466,...,5000,0,0,0,0,1,0,0,1,1
14116,550000,28,0,0,0,0,0,0,257553,251236,...,9071,8022,6797,7095,6469,1,0,0,0,0
22258,140000,30,0,0,0,0,0,0,107,232,...,107,107,107,107,107,0,1,0,0,0
20757,20000,34,1,2,2,0,0,3,16456,17382,...,0,1700,2700,0,600,0,1,0,1,0
24275,420000,32,0,0,0,0,0,0,60825,45060,...,1407,1332,963,877,1000,1,0,0,1,1
9225,160000,23,0,0,0,0,0,0,21905,22473,...,1000,283,0,0,20261,0,1,0,0,0
21243,190000,48,0,0,0,0,0,0,6450,189102,...,7779,6092,5018,6168,1218,0,1,0,1,1
13123,30000,38,0,0,0,0,0,0,26825,18401,...,2500,1000,1000,3000,7002,0,1,0,1,0
19648,210000,33,0,0,0,0,0,0,199851,190551,...,7791,7000,5254,5400,5380,1,0,0,0,1
9845,130000,43,0,0,0,0,0,2,74020,71527,...,3000,2500,4100,0,5000,0,0,1,0,1
10799,50000,29,0,0,0,0,0,0,45561,47322,...,3125,417,1000,1000,500,0,0,1,0,1
2732,140000,25,0,0,0,0,0,0,23409,24725,...,2000,1500,2000,2200,2000,1,0,0,0,0

In [327]:
train_data_x.columns

Index(['limit_bal', 'age', 'pay_1', 'pay_2', 'pay_3', 'pay_4', 'pay_5',
       'pay_6', 'bill_amt1', 'bill_amt2', 'bill_amt3', 'bill_amt4',
       'bill_amt5', 'bill_amt6', 'pay_amt1', 'pay_amt2', 'pay_amt3',
       'pay_amt4', 'pay_amt5', 'pay_amt6', 'grad_school', 'university',
       'high_school', 'male', 'married'],
      dtype='object')

In [269]:
train_data_y

4943     0
29677    0
10145    0
3714     0
5862     0
19806    0
19907    0
13637    0
4996     0
10713    1
338      1
22573    0
26199    0
26930    1
29702    0
16123    0
22562    0
10764    0
26755    0
22493    0
14159    1
1692     0
23873    0
9685     0
6132     1
25564    0
20575    0
11493    0
25227    0
18038    0
        ..
2163     0
6036     0
6921     0
6216     0
27469    0
16921    0
26277    0
2897     0
24152    0
18606    1
10327    0
18983    0
17089    0
14650    0
19852    0
6744     1
15832    0
15430    0
14935    0
14116    0
22258    0
20757    1
24275    0
9225     0
21243    0
13123    0
19648    1
9845     0
10799    0
2732     0
Name: default, Length: 15000, dtype: int64

In [270]:
# we need to convert them to int b/c Neural Network is for number only
# by using one_hot_encoder

-------------------------------------

# Eg. One- hot Encoding
    * Sunday => 0
    * Monday => 1
    * Tuesday => 0
    * Wednesday => 0
    * Thursday => 0
    * Friday => 0
    * Saturday => 0

In [304]:
# def one_hot_encoder(array):
#     unique_values, indices = np.unique(array, return_inverse=True)
#     print("unique value", unique_values)
#     print(("indices: ", indices))
#     one_hot_encoded_data = np_utils.to_categorical(indices, len(unique_values))
    
#     return one_hot_encoded_data

In [329]:
# ohe_train_data_y = one_hot_encoder(train_data_y)

In [330]:
# ohe_test_data_y = one_hot_encoder(test_data_y)

In [332]:
# print(ohe_train_data_y)

In [331]:
model = Sequential()

In [333]:
model.add(Dense(30, input_shape=(25,), name='Input_Layer', activation='relu'))

In [334]:
# 30 neurons, 
# 25 features in the dataset

In [335]:
# Output Layer
model.add(Dense(2, name='Output_Layer', activation='softmax'))

In [336]:
# 2 neuron b/c we want to classify the output or nature of payment into 2 categories.

In [337]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Input_Layer (Dense)          (None, 30)                780
_________________________________________________________________
Output_Layer (Dense)         (None, 2)                 62
=================================================================
Total params: 842
Trainable params: 842
Non-trainable params: 0
_________________________________________________________________

In [338]:
# compile
model.compile(optimizer='sgd', loss='sparse_categorical_crossentropy', metrics=["accuracy"])

In [325]:
# adam => Adaptive momentum-based optimizer-this generally works well for deep NNs
# crossentropy => mean that the output is the probability distibution
# low crossentropy mean y_actual == y_predicted.

In [343]:
# Start training
model.fit(train_data_x, train_data_y, epochs=80, batch_size=2, verbose=1)

Epoch 1/80
15000/15000 [==============================] - 5s 353us/step - loss: 3.6190 - acc: 0.7755
Epoch 2/80
15000/15000 [==============================] - 5s 333us/step - loss: 3.6190 - acc: 0.7755
Epoch 3/80
15000/15000 [==============================] - 5s 333us/step - loss: 3.6190 - acc: 0.7755
Epoch 4/80
15000/15000 [==============================] - 5s 329us/step - loss: 3.6190 - acc: 0.7755
Epoch 5/80
15000/15000 [==============================] - 5s 329us/step - loss: 3.6190 - acc: 0.7755
Epoch 6/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 7/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 8/80
15000/15000 [==============================] - 5s 335us/step - loss: 3.6190 - acc: 0.7755
Epoch 9/80
15000/15000 [==============================] - 5s 334us/step - loss: 3.6190 - acc: 0.7755
Epoch 10/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 11/80
15000/15000 [==============================] - 5s 334us/step - loss: 3.6190 - acc: 0.7755
Epoch 12/80
15000/15000 [==============================] - 5s 337us/step - loss: 3.6190 - acc: 0.7755
Epoch 13/80
15000/15000 [==============================] - 5s 350us/step - loss: 3.6190 - acc: 0.7755
Epoch 14/80
15000/15000 [==============================] - 5s 337us/step - loss: 3.6190 - acc: 0.7755
Epoch 15/80
15000/15000 [==============================] - 5s 345us/step - loss: 3.6190 - acc: 0.7755
Epoch 16/80
15000/15000 [==============================] - 5s 363us/step - loss: 3.6190 - acc: 0.7755
Epoch 17/80
15000/15000 [==============================] - 5s 325us/step - loss: 3.6190 - acc: 0.7755
Epoch 18/80
15000/15000 [==============================] - 5s 322us/step - loss: 3.6190 - acc: 0.7755
Epoch 19/80
15000/15000 [==============================] - 5s 318us/step - loss: 3.6190 - acc: 0.7755
Epoch 20/80
15000/15000 [==============================] - 5s 321us/step - loss: 3.6190 - acc: 0.7755
Epoch 21/80
15000/15000 [==============================] - 5s 311us/step - loss: 3.6190 - acc: 0.7755
Epoch 22/80
15000/15000 [==============================] - 5s 320us/step - loss: 3.6190 - acc: 0.7755
Epoch 23/80
15000/15000 [==============================] - 5s 318us/step - loss: 3.6190 - acc: 0.7755
Epoch 24/80
15000/15000 [==============================] - 5s 317us/step - loss: 3.6190 - acc: 0.7755
Epoch 25/80
15000/15000 [==============================] - 5s 322us/step - loss: 3.6190 - acc: 0.7755
Epoch 26/80
15000/15000 [==============================] - 5s 323us/step - loss: 3.6190 - acc: 0.7755
Epoch 27/80
15000/15000 [==============================] - 5s 335us/step - loss: 3.6190 - acc: 0.7755
Epoch 28/80
15000/15000 [==============================] - 5s 324us/step - loss: 3.6190 - acc: 0.7755
Epoch 29/80
15000/15000 [==============================] - 5s 313us/step - loss: 3.6190 - acc: 0.7755
Epoch 30/80
15000/15000 [==============================] - 5s 324us/step - loss: 3.6190 - acc: 0.7755
Epoch 31/80
15000/15000 [==============================] - 5s 341us/step - loss: 3.6190 - acc: 0.7755
Epoch 32/80
15000/15000 [==============================] - 5s 333us/step - loss: 3.6190 - acc: 0.7755
Epoch 33/80
15000/15000 [==============================] - 5s 363us/step - loss: 3.6190 - acc: 0.7755
Epoch 34/80
15000/15000 [==============================] - 5s 335us/step - loss: 3.6190 - acc: 0.7755
Epoch 35/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 36/80
15000/15000 [==============================] - 5s 338us/step - loss: 3.6190 - acc: 0.7755
Epoch 37/80
15000/15000 [==============================] - 5s 361us/step - loss: 3.6190 - acc: 0.7755
Epoch 38/80
15000/15000 [==============================] - 5s 339us/step - loss: 3.6190 - acc: 0.7755
Epoch 39/80
15000/15000 [==============================] - 5s 342us/step - loss: 3.6190 - acc: 0.7755
Epoch 40/80
15000/15000 [==============================] - 5s 331us/step - loss: 3.6190 - acc: 0.7755
Epoch 41/80
15000/15000 [==============================] - 6s 368us/step - loss: 3.6190 - acc: 0.7755
Epoch 42/80
15000/15000 [==============================] - 5s 331us/step - loss: 3.6190 - acc: 0.7755
Epoch 43/80
15000/15000 [==============================] - 5s 356us/step - loss: 3.6190 - acc: 0.7755
Epoch 44/80
15000/15000 [==============================] - 5s 361us/step - loss: 3.6190 - acc: 0.7755
Epoch 45/80
15000/15000 [==============================] - 5s 331us/step - loss: 3.6190 - acc: 0.7755
Epoch 46/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 47/80
15000/15000 [==============================] - 5s 336us/step - loss: 3.6190 - acc: 0.7755
Epoch 48/80
15000/15000 [==============================] - 5s 332us/step - loss: 3.6190 - acc: 0.7755
Epoch 49/80
15000/15000 [==============================] - 5s 338us/step - loss: 3.6190 - acc: 0.7755
Epoch 50/80
15000/15000 [==============================] - 6s 385us/step - loss: 3.6190 - acc: 0.7755
Epoch 51/80
15000/15000 [==============================] - 5s 347us/step - loss: 3.6190 - acc: 0.7755
Epoch 52/80
15000/15000 [==============================] - 6s 389us/step - loss: 3.6190 - acc: 0.7755
Epoch 53/80
15000/15000 [==============================] - 5s 365us/step - loss: 3.6190 - acc: 0.7755
Epoch 54/80
15000/15000 [==============================] - 5s 327us/step - loss: 3.6190 - acc: 0.7755
Epoch 55/80
15000/15000 [==============================] - 5s 349us/step - loss: 3.6190 - acc: 0.7755
Epoch 56/80
15000/15000 [==============================] - 5s 362us/step - loss: 3.6190 - acc: 0.7755
Epoch 57/80
15000/15000 [==============================] - 5s 326us/step - loss: 3.6190 - acc: 0.7755
Epoch 58/80
15000/15000 [==============================] - 5s 327us/step - loss: 3.6190 - acc: 0.7755
Epoch 59/80
15000/15000 [==============================] - 5s 327us/step - loss: 3.6190 - acc: 0.7755
Epoch 60/80
15000/15000 [==============================] - 5s 326us/step - loss: 3.6190 - acc: 0.7755
Epoch 61/80
15000/15000 [==============================] - 5s 326us/step - loss: 3.6190 - acc: 0.7755
Epoch 62/80
15000/15000 [==============================] - 5s 347us/step - loss: 3.6190 - acc: 0.7755
Epoch 63/80
15000/15000 [==============================] - 5s 327us/step - loss: 3.6190 - acc: 0.7755
Epoch 64/80
15000/15000 [==============================] - 5s 341us/step - loss: 3.6190 - acc: 0.7755
Epoch 65/80
15000/15000 [==============================] - 5s 324us/step - loss: 3.6190 - acc: 0.7755
Epoch 66/80
15000/15000 [==============================] - 5s 326us/step - loss: 3.6190 - acc: 0.7755
Epoch 67/80
15000/15000 [==============================] - 5s 325us/step - loss: 3.6190 - acc: 0.7755
Epoch 68/80
15000/15000 [==============================] - 5s 348us/step - loss: 3.6190 - acc: 0.7755
Epoch 69/80
15000/15000 [==============================] - 5s 328us/step - loss: 3.6190 - acc: 0.7755
Epoch 70/80
15000/15000 [==============================] - 5s 326us/step - loss: 3.6190 - acc: 0.7755
Epoch 71/80
15000/15000 [==============================] - 5s 325us/step - loss: 3.6190 - acc: 0.7755
Epoch 72/80
15000/15000 [==============================] - 5s 325us/step - loss: 3.6190 - acc: 0.7755
Epoch 73/80
15000/15000 [==============================] - 5s 362us/step - loss: 3.6190 - acc: 0.7755
Epoch 74/80
15000/15000 [==============================] - 6s 372us/step - loss: 3.6190 - acc: 0.7755
Epoch 75/80
15000/15000 [==============================] - 5s 344us/step - loss: 3.6190 - acc: 0.7755
Epoch 76/80
15000/15000 [==============================] - 5s 331us/step - loss: 3.6190 - acc: 0.7755
Epoch 77/80
15000/15000 [==============================] - 5s 333us/step - loss: 3.6190 - acc: 0.7755
Epoch 78/80
15000/15000 [==============================] - 5s 342us/step - loss: 3.6190 - acc: 0.7755
Epoch 79/80
15000/15000 [==============================] - 5s 339us/step - loss: 3.6190 - acc: 0.7755
Epoch 80/80
15000/15000 [==============================] - 5s 335us/step - loss: 3.6190 - acc: 0.7755

In [344]:
loss, accuracy = model.evaluate(test_data_x, test_data_y, verbose=0)

In [345]:
print("Loss={:.2f}".format(loss))

Loss=3.51

In [346]:
print("Accuracy = {:.2f}".format(accuracy))

Accuracy = 0.78

In [ ]:

# Let go back also and change the number of 50 epochs to 80

In [347]:
from keras.utils.vis_utils import plot_model
plot_model(model, to_file='model_plot.png', show_shapes=True,show_layer_names=True)

In [348]:
model_json = model.to_json()

In [349]:
# pip install h5py

In [350]:
with open("credit_default_model.json", "w") as json_file:
         json_file.write(model_json)

In [351]:
model.save_weights("credit_default_model.h5")
print("saved model to disk.")

saved model to disk.